$text-color: #3A3A3A;
$body-background: #fff;
//mobile
$mobile-width: 320px;
//tablet
$tablet-width: 768px;

//desktop
$desktop-width: 1200px;
$desktop-xl-width: 1920px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$text-font: Open Sans, Arial, sans-serif;
